<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create Item</title>
</head>
<body>
    <div id="top">
      <a href="{% url 'beltapp:index' %}">Home</a> |
      <a href="{% url 'loginreg:logout' %}">Logout</a>
    </div>
    {% if messages %}
      {% for message in messages %}
        <h1>{{message}}</h1>
      {% endfor %}
    {% endif %}
    <h2>Create a New Wish List Item</h2>
    <form action="{% url 'beltapp:create' %}" method="POST">
      {% csrf_token %}
      <label for="item_name">Item/Product:</label>
      <input type="text" name="item_name">
      <p></p>
      <input type="submit" value="Add">
    </form>

</body>
</html>
